/* often used classes */
.pageTitle {
    font-family: poppins;
    text-align: center;
    padding: 10px;
    letter-spacing: 5px;
}

.headerLine{ 
    width: 80%;
}

.whiteDivideSpace {
    padding: 250px;
}

/* nav */
.navigationUl {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

.navigationUl li {
    display: inline;
    
}

.navigationUl a{
    display: inline-block;
    padding: 10px;
    text-decoration: none;
    color: black; 
    font-family: poppins;
    letter-spacing: 3px;   
}

.navigationUl a:hover {
    text-decoration: underline;
}



/* Home */
#wieBenIk {
    padding-top: 50px;
}

#wieBenIkTekst {
    font-family: poppins;
    float: left;
    width: 50%;
    margin-left: 150px;
}

#wieBenIkImg {
    float: left;
    margin-left: 200px;
    width: 20%;

}

#Intresses {
    padding-top: 50px;
}

#IntressesImg {
    float: left;    
    width: 30%;
    margin-left: 180x;
}

#IntressesTekst {
    font-family: poppins;
    float: right;
    width: 50%;
    padding-right: 160px;
    padding-left: 0px;
    margin: 0;

}


/* Profile */
#profile{

}

