/* often used classes */
.pageTitle {
    font-family: poppins;
    text-align: center;
    padding: 10px;
    letter-spacing: 5px;
}

.headerLine{ 
    width: 80%;
}

.whiteDivideSpace {
    padding: 220px;
    background-color: #ececec;
}

.whiteDivideSpaceSmall {
    padding: 170px;
    background-color: #ececec;
}

.whiteDivideSpaceXSmall {
    padding: 50px;
    background-color: #ececec;
}

.whiteDivideSpaceXXSmall {
    padding: 20px;
    background-color: #ffffff;
}

.squigglyLine {
    padding: 30px;
    text-align: center;
}

/* nav */
.navigationUl {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

.navigationUl li {
    display: inline;
    
}

.navigationUl a{
    display: inline-block;
    padding: 10px;
    text-decoration: none;
    color: black; 
    font-family: poppins;
    letter-spacing: 3px;   
}

.navigationUl a:hover {
    text-decoration: underline;
}


/* profile */

#wieBenIkTekst {
    float: left;
    width: 50%;
    text-align: center;
    background-color: rgb(255, 255, 255);
    font-family: poppins;
}


#IntressesTekst {
    float: left;
    width: 50%;
    text-align: center;
    background-color: rgb(255, 255, 255);
    font-family: poppins;
}


#profileFooter {
    background-color: rgb(209, 241, 199);
}


/* home */
#waaromIct {
    float: left;
    width: 50%;
    text-align: center;
    background-color: rgb(255, 255, 255);
    font-family: poppins;
}

#watHierna {
    float: left;
    width: 50%;
    text-align: center;
    background-color: rgb(255, 255, 255);
    font-family: poppins;
}

/* faq */
.faqQuestions {
    float: left;
    width: 33%;
    height: 200px;
    font-family: poppins;
    overflow: auto;
}

#faqQuestionsRow1 {
    background-color: rgb(255, 255, 255);
    width: 100%;
    height: 200px;
}

#faqQuestionsRow2 {
    background-color: rgb(255, 255, 255);
    width: 100%;
    position: fixed;
    height: 200px;
}


/* blog */

#attemptatsomething {
    background-color: rgb(255, 255, 255);
    height:100vh;
    margin: 0px;
    padding: 0px;
    text-align: center;

}


html, body {
    margin:0px;
    height:100%;
}