/* often used classes */
.pageTitle {
    font-family: poppins;
    text-align: center;
    padding: 10px;
    letter-spacing: 5px;
}

.headerLine{ 
    width: 80%;
}

.whiteDivideSpace {
    padding: 250px;
}

.squigglyLine {
    padding: 30px;
}

/* nav */
.navigationUl {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

.navigationUl li {
    display: inline;
    
}

.navigationUl a{
    display: inline-block;
    padding: 10px;
    text-decoration: none;
    color: black; 
    font-family: poppins;
    letter-spacing: 3px;   
}

.navigationUl a:hover {
    text-decoration: underline;
}



/* profile */
#wieBenIk {
    padding-top: 50px;
}

#wieBenIkTekst {
    font-family: poppins;
    float: left;
    width: 60%;
    margin-left: 110px;
}

#wieBenIkImg {
    float: left;
    width: 30%;

}

#Intresses {
    padding-top: 50px;
}

#IntressesImg {
    float: left; 
    width: 30%   
    
}

#IntressesTekst {
    font-family: poppins;
    float: right;
    width: 60%;
    margin-right: 110px;
    

}


/* home */


